<ion-view title="Dashboard" id="page5">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div class="card" ng-app="myApp" ng-controller="dashboardCtrl">
			<div class="item item-divider">
				{{conditions}}
			</div>
			<div class="item item-text-wrap">
				<ion-list>
				  <ion-radio ng-model="choice" ng-value="'A'" id="menu_one">{{value}}</ion-radio>
				  <ion-radio ng-model="choice" ng-value="'B'" id="menu_two">Beef Curry</ion-radio>
				  <ion-checkbox ng-model="filter.blue">Add Foil for extra BDT 10.00</ion-checkbox>
				  <button class="button button-block button-positive"><strong>Place Order</strong></button>
				</ion-list>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<strong>Total Due:</strong>
			</div>
			<div class="item item-text-wrap">
				<h1 style="text-align: center">BDT 350.00</h1>
			</div>
		</div>
    </ion-content>
</ion-view>