<ion-view title="Orders" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">01-04-2016</div>
            <div class="item item-body">
                <div id="orders-markdown14" style="color:#000000;">
                    <p>Chicken Curry + Rice + Daal</p>
                </div>
            </div>
            <div class="item item-divider">Price: BDT 70.00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">01-04-2016</div>
            <div class="item item-body">
                <div id="orders-markdown15" style="color:#000000;">
                    <p>Chicken Curry + Rice + Daal</p>
                </div>
            </div>
            <div class="item item-divider">Price: BDT 70.00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">01-04-2016</div>
            <div class="item item-body">
                <div id="orders-markdown16" style="color:#000000;">
                    <p>Chicken Curry + Rice + Daal</p>
                </div>
            </div>
            <div class="item item-divider">Price: BDT 70.00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">01-04-2016</div>
            <div class="item item-body">
                <div id="orders-markdown17" style="color:#000000;">
                    <p>Chicken Curry + Rice + Daal</p>
                </div>
            </div>
            <div class="item item-divider">Price: BDT 70.00</div>
        </div>
    </ion-content>
</ion-view>