<ion-view title="Payment" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Total Paid</div>
            <div class="item item-body">
                <h1 id="payment-heading8" style="color:#000000;">BDT 2500.00</h1>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Total Unpaid</div>
            <div class="item item-body">
                <h1 id="payment-heading9" style="color:#000000;">BDT 280.00</h1>
            </div>
        </div>
    </ion-content>
</ion-view>