<ion-view title="Payment" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="paymentCtrl">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card" ng-app="myApp">
            <div class="item item-divider" style="background: #444444; color: #ffffff;">
                <strong>Total Spent</strong>
            </div>
            <div class="item item-text-wrap">
                <h1 style="text-align: center; color: #444444;">{{total_spent}}</h1>
            </div>
        </div>
        <div class="card" ng-app="myApp">
            <div class="item item-divider" style="background: #444444; color: #ffffff;">
                <strong>Total Paid</strong>
            </div>
            <div class="item item-text-wrap">
                <h1 style="text-align: center; color: #444444;">{{total_paid}}</h1>
            </div>
        </div>
        <div class="card" ng-app="myApp">
            <div class="item item-divider" style="background: #444444; color: #ffffff;">
                <strong>Total Due</strong>
            </div>
            <div class="item item-text-wrap">
                <h1 style="text-align: center; color: #444444;">{{total_due}}</h1>
            </div>
        </div>
    </ion-content>
</ion-view>