<ion-view title="Settings" id="page5">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content ng-controller="settingCtrl">
    	<div class="list">
    		<div ng-click="navChangePass()">
	    		<a class="item item-icon-left">
	    			<i class="icon ion-arrow-swap"></i>
	    			Change Password
	    		</a>
    		</div>
            <li class="item item-toggle">
                 {{notify}}
                 <label class="toggle toggle-dark">
                   <input type="checkbox" ng-model="myVar" ng-change="notificationChange()">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </li>
    	</div>
    </ion-content>

</ion-view>